<script src="/javascript/src/sigma.core.js"></script>
<script src="/javascript/src/conrad.js"></script>
<script src="/javascript/src/utils/sigma.utils.js"></script>
<script src="/javascript/src/utils/sigma.polyfills.js"></script>
<script src="/javascript/src/sigma.settings.js"></script>
<script src="/javascript/src/classes/sigma.classes.dispatcher.js"></script>
<script src="/javascript/src/classes/sigma.classes.configurable.js"></script>
<script src="/javascript/src/classes/sigma.classes.graph.js"></script>
<script src="/javascript/src/classes/sigma.classes.camera.js"></script>
<script src="/javascript/src/classes/sigma.classes.quad.js"></script>
<script src="/javascript/src/captors/sigma.captors.mouse.js"></script>
<script src="/javascript/src/captors/sigma.captors.touch.js"></script>
<script src="/javascript/src/renderers/sigma.renderers.canvas.js"></script>
<script src="/javascript/src/renderers/sigma.renderers.webgl.js"></script>
<script src="/javascript/src/renderers/sigma.renderers.def.js"></script>
<script src="/javascript/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="/javascript/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="/javascript/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="/javascript/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="/javascript/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="/javascript/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="/javascript/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="/javascript/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="/javascript/src/misc/sigma.misc.animation.js"></script>
<script src="/javascript/src/misc/sigma.misc.bindEvents.js"></script>
<script src="/javascript/src/misc/sigma.misc.drawHovers.js"></script>
link(rel='stylesheet', href='/stylesheets/style.css')
<!-- END SIGMA IMPORTS -->
<script src="/javascript/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>
<div id="container">
<div id="graph-container"></div>
</div>
block content