body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
strong a {
  padding: 0 0.25em;
  background-color: #ffa;
}

#graph-container {
  top: 10px;
  bottom: 10px;
  left: 100px;
  right: 100px;
  position: absolute;
}
#mynetwork {
  top: 10px;
  bottom: 10px;
  left: 100px;
  right: 100px;
  border: 1px solid lightgray;
}